body {
	background: #C00629;
	text-shadow: none;
	color: #111;
}

a {
	color: #fff;
	font-family:"Clobber Grotesk DemiBold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-decoration: none;
}

a:hover {
	border-bottom: none;
	color: #111;
}

article {
	text-align: left;
}

article h1 {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	background: none;
	text-align: left;
	margin: 0;
	padding: 0;
	text-transform: none;
	-webkit-mask-image:none;
	-moz-mask-image:none;
	-o-mask-image:none;
	mask-image:none;
	letter-spacing: -0.09em;
	color: #fff;
}

h2 {
	font-family:"Clobber Grotesk DemiBold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-align: left;
	font-size: 1.3em;
	padding: 0 0 0px 0;
	margin: 0 0 20px 0;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;
}

h3 {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-align: left;
	font-size: 1.3em;
	padding: 0 0 0px 0;
}

h5 {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	margin-bottom: 0px;
}

article p,
article address {
	font-family:"Clobber Grotesk Regular", Arial, sans-serif; font-weight:normal; font-style:normal;
}

.swsh {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

p strong, address strong {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

.home header.section { margin-bottom: 10px;  }

header h1 {
	background: none;
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	font-size: 1.9em;;
	letter-spacing: -0.09em;
	color: #fff;
	text-transform: none;
	border-bottom: 2px solid #600314;
	padding-left: 0px;
	padding-bottom: 10px;
}

header h1 .char1 { letter-spacing: -0.07em;	}
header h1 .char2 { letter-spacing: -0.09em;	}
header h1 .char3 { letter-spacing: -0.06em;	}
header h1 .char5 { letter-spacing: -0.06em;	}
header h1 .char6 { letter-spacing: -0.06em;	}
header h1 .char7 { letter-spacing: -0.09em;	}
header h1 .char9 { letter-spacing: -0.04em;	}

header .event-info {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-align: left;
	text-transform: none;
}

header h2 , header h2 strong {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-align: left;
	text-transform: none;
	letter-spacing: -0.07em;
	line-height: 1em;
	background: none;
	border: none;
}

header h2 {
	margin-bottom: 10px;
	margin-top: 4px;
	border-bottom: 2px solid #600314;
}

header h2 strong {
	font-size: 1em;
}

header time, header span.location {
	font-family:"Clobber Grotesk DemiBold", Arial, sans-serif; font-weight:bold; font-style:normal;
	font-size: 0.9em;
	line-height: 1.1em;
	letter-spacing: 0px;
	display: inline;
}

header .tickets {
	background: none;
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-transform: none;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 16px;
}

header .tickets .price {
	font-size: 0.8em;
}

header .tickets .price strong {
	letter-spacing: -0.1em;
}

header .tickets .price em {
	color: #fff;
	padding: 0 3px;
}

header .tickets .buy .brace {
	display: none;
}

header .tickets .buy {
	color: #fff;
	font-size: 0.5em;
	line-height: 1.35em;
	padding-right: 10px;
}

header .tickets .buy strong  {
	font-family:"Clobber Grotesk DemiBold", Arial, sans-serif; font-weight:bold; font-style:normal;
	padding: 0;
}

header .main-nav {
	background: none;
	padding-top: 0px;
}

header .main-nav li a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	color: #111;
}

header .main-nav li a:hover {
	color: #fff;
	background: rgba(0,0,0,0.2);
}

/* Active states */
	
.home header .main-nav li a.home,
.schedule header .main-nav li a.schedule, 
.location header .main-nav li a.location,
.sponsors header .main-nav li a.sponsors {
	color: #fff;
}

.speakers h1, .speakers h1 strong, .speakers h1 span.amp {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-transform: none;
	background: none;
	letter-spacing: -0.1em;
	text-align: left;
	line-height: 1em;
}

.speakers h1 {
	color: #111;
	border-bottom: 2px solid #600314;
	-webkit-mask-image: none;
	-moz-mask-image: none;
	-o-mask-image: none;
	mask-image: none;
}

.speakers h1 strong {
 	font-size: 1em;
 	padding-bottom: 8px;
}

.speakers h1 .full-stop-kern {
	letter-spacing: -3px;
}

.speakers ul {
	margin-top: 17px;
	padding-bottom: 15px;
	border-bottom: 2px solid #600314;
}
.speakers ul li {
	background: url(../img/swiss-theme/small-fat-rule.gif) repeat-x 0 50%;
	line-height: 1.15em;
}

.speakers li a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	color: #fff;
	background: url(../img/swiss-theme/big-fat-rule-mask.gif) repeat-x 0 53%;
	-webkit
}

.speakers li a .swsh {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

.speakers li a {
	padding-right: 40px;
	letter-spacing: -0.05em;
	line-height: 1em;
	display: inline-block;
	-webkit-font-smoothing: subpixel-antialiased;
}

.speakers li a:hover {
	color: #111;
}

.speakers li a.jose-scaglione .swsh {
	width: 0.6em;
	display: inline-block;
}

.social {
	font-family:"Clobber Grotesk Regular", Arial, sans-serif; font-style:normal;
	font-size: 1em;
}

.social a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

section.sponsors {
	background: #AC0525;
	margin-top: 10px;
	padding-top: 10px;
}

section.sponsors h2 {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-transform: none;
	text-align: left;
	background: none;
	letter-spacing: -0.09em;
	-webkit-mask-image: none;
	-o-mask-image: none;
	-moz-mask-image: none;
	mask-image: none;
	border: none;
}

section.sponsors h5 {
	font-family:"Clobber Grotesk Regular", Arial, sans-serif; font-weight:normal; font-style:normal;
	background: url(../img/swiss-theme/1px-rule.gif) repeat-x left bottom;
	line-height: 1em;
}

section.sponsors h5 span{
	background: #AC0525;
}

.footer-nav {
	background: 0px;
	border: none;
	padding:  0;
}

.footer-nav ul {
	border: none;
	text-align: left;
	padding: 10px 0 0px 0;
}

.footer-nav li a {
	border: none;
	font-family:"Clobber Grotesk DemiBold", Arial, sans-serif; font-weight:bold; font-style:normal;
	color: #fff;
}

.footer-nav li a:hover {
	color: #111;
}

/* Schedule Page - Schedule */

article.schedule table tr {
	background: none;
}

article.schedule table td div {
	background: none;
	padding: 0 0 0px 5%;
	margin: 0 0 0 0;
}

article.schedule table  {
	background: none;
}

.schedule article.schedule table * {
	font-size: 1em;
	line-height: 1.2em;
	text-transform: none;
	font-family:"Clobber Grotesk Regular", Arial, sans-serif; font-weight:normal; font-style:normal;
	padding-top:0;
}

.schedule article.schedule table * a, 
.schedule article.schedule table * a .swsh,
.schedule article.schedule table tr.break h3,
.schedule article.schedule table h3,
.schedule article.schedule table h3 em {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

article.schedule table th {
	padding: 0px;
	vertical-align: top;
}

article.schedule table th.time, article.schedule table .break th.time  {
	text-align: right;
	width: 26%;	
	min-width: 100px;
}

.schedule article.schedule table th, 
.schedule article.schedule table td,
.schedule article.schedule table th.time {
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.schedule article.schedule table .break th.time,
.schedule article.schedule table .break th,  
.schedule article.schedule table .break td {
	background: rgba(0,0,0,0.1);
}

.schedule article.schedule table.thursday th.time,
.schedule article.schedule table.thursday th,  
.schedule article.schedule table.thursday td {
	border: none;
	padding-bottom: 20px;
}


.schedule article.schedule table h3 {
	font-size: 1.1em;
	line-height: 1em;
}

.schedule article.schedule table h3 span {
	font-size: 1em;
}

.schedule article.schedule table.friday,
.schedule article.schedule table .after-party td,
.schedule article.schedule table .after-party th {
	border-top:2px solid rgba(0,0,0,0.5);
}


/* Location Page - Location */

article.location h3 {
	font-size: 2.1em;
	padding-top: 7px;
	padding-bottom: 0.6px;
	margin-bottom: 3px;
}

article.location .location-a, article.location .location-b, article.location .location-c {
	background: none;
}

article.location .map {
	border: 12px solid #fff;
	-webkit-mask-image:none;
	-moz-mask-image:none;
	-o-mask-image:none;
	mask-image:none;
}

article.location .map #map_canvas {
	margin: 0;
	border: 1px solid #ccc;
}

article.location h3,
article.location h3 .swsh,
article.location h4,
article.location h4 .swsh {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	background: none;
}

article.location h4 {
	padding-top: 10px;
}

article.location h4 span{
	background: none;
}

/* Sponsors Pages - Sponsors */

article.sponsors {
	text-align: left;
}

article.sponsors .sponsorship-pack { 
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	padding: 0px;
	margin-top: 0px;
	font-size: 1em;
}

article.sponsors .sponsorship-pack { 
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-mask-image:none;
	-moz-mask-image:none;
	-o-mask-image:none;
	mask-image:none;
}

article.sponsors .sponsorship-pack .button {
	background: none;
	font-family: inherit;
	-webkit-mask-image:none;
	-moz-mask-image:none;
	-o-mask-image:none;
	mask-image:none;
}

article.sponsors .sponsorship-pack .button a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
}

article.location .location-a, article.location .location-b, article.location .location-c {
	margin-bottom: 0px;
}

/* Session Pages */

article.session {
	text-align: left;
}

article.session aside {
	background: none;
	border-top: 2px solid #600314;
}

article.session aside nav a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	font-size: 1.1em;
}

article.session aside nav a:hover {
	color: #111;
}

article.session aside nav a.website {
	background-image: url(../img/icon-speaker-website-sw.png);
}

article.session aside nav a.twitter {
	background-image: url(../img/icon-speaker-twitter-sw.png);
}

article.session .all-speakers h4 {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	text-align: left;
	background: none;
	text-transform: none;
	border-top: 2px solid #600314;
	padding-top: 20px;
}

article.session .all-speakers h4 span {
	background: none;
	padding: 0;
	text-transform: none;
}

article.session .all-speakers ul li a {
	font-family:"Clobber Grotesk Bold", Arial, sans-serif; font-weight:bold; font-style:normal;
	color: #fff;
	letter-spacing: -0.05em;
}

article.session .all-speakers ul li a:hover {
	color: #111;
}

article.session aside img {
	margin-top: 17px;
}


/* Desktop and Tablet View Styles */

@media only screen and (min-width: 480px) {

	h2 {
		font-size: 1.8em;
		letter-spacing: -0.07em;
		text-align: left;
	}


	header .ampersand-logo {
		top: -0px;
	}

	header h1 {
		margin-left: 29%;
		padding-bottom: 0px;
	
	}
	
	header h2 {
		border-bottom: none;
		margin-bottom: 0px;
	}

	
	header .event-info {
		width: 43%;
		padding-left: 29%;
		padding-right: 1%;
		margin: 0 2% 20px 0;
	}

	header .tickets {
		border-left:2px solid #600314;
		width: 22%;
		padding-left: 2%;
		padding-top: 21px;
		padding-bottom: 16px;
		padding-top: 20px;
	}
	
	header .tickets .price {
		font-size: 1.4em;
		letter-spacing: -0.1em;
		margin-bottom: 5px;
	}

	
	header .tickets .buy {
		font-size: 0.9em;
	}
	
	header .main-nav {
		border-top:2px solid #600314;
		padding-top: 9px;
	}
	
	header .main-nav li a:hover {
		background: none;
	}

	
	article.location .location-a h3 {
		background: url(../img/map-marker-sw-alt-a.png) no-repeat 0 0;
	}

	article.location .location-b h3 {
		background: url(../img/map-marker-sw-alt-b.png) no-repeat 0 0;
	}
	
	article.location .location-c h3 {
		background: url(../img/map-marker-sw-alt-c.png) no-repeat 0 0;
	}
	
	.speakers ul li {
			background: url(../img/swiss-theme/medium-fat-rule.gif) repeat-x 0 50%;
			line-height: 1.15em;
	}

}


/* Desktop Only Styles */

@media only screen and (min-width: 640px) {

	header .ampersand-logo {
		top: -23px;
	}

	header time, header span.location {
		font-size: 0.65em;
	}

	article.sponsors .sponsorship-pack {
		width: 46%;
	}
	
	article.sponsors .sponsorship-pack .button {
		background: url(../img/arrow.png) no-repeat left center;
		font-size: 1.1em;
		line-height: 1.1em;
		padding-top: 0px;
		margin-top: 10px;
	}
	
	.speakers ul li {
			background: url(../img/swiss-theme/big-fat-rule.gif) repeat-x 0 50%;
			line-height: 1.15em;
	}

}